.App {
  text-align: center;
  display:flex;
  flex-direction: column;
}

img{
  
  width:200px;
}
.auction-vehicle-desc{
  display:flex;
  flex-direction: column;
}
.auction-vehicle-flex{
  display:flex;
  flex-direction: column;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  background: lightgray;
  height: 400px;
}
.inventory-flex{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  
}
.inventory-desc{
  display:flex;
  flex-direction: column;
}
.inv{
  display:flex;
  flex-direction: column;
  

}
.mappedVehicles{
  display:flex;
  justify-content: space-around;
  align-items: center;
  
  width: 100vw;
}
.hdr{
  background: gray;

}
.bank{
  background: gray;
}
.inv-section{
  background:lightgray;
  min-height: 350px;
  height: 100%;
  display:flex;
  flex-direction: column;
}