.App {
  text-align: center;
}

img{
  
  width:200px;
}
.auction-vehicle-desc{
  display:flex;
  flex-direction: column;
}
.auction-vehicle-flex{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.inventory-flex{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.inventory-desc{
  display:flex;
  flex-direction: column;
}
.inv{
  display:flex;
  flex-direction: column;

}